body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#calculator {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(49,48,48);
    box-shadow: 0px 5px 10px;
}

.display {
    background-color: #eee;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 5px;
    text-align: right;
    font-size: 50px;
    height: 50px;
    width: 89%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

button {
    padding: 5px;
    background-color: #505050;
    color: whitesmoke;
    font-size: 28px;
    width: 70px;
    height: 60px;
    border-radius: 10px;
}

.buttons button:hover {
    opacity: 55%;
    background-color: whitesmoke;
    color: #505050;
    cursor: pointer;
}

.buttons button:active {
    opacity: 95%;
}

.clearBtn {
    background-color: red;
}

.plusBtn {
    grid-row: span 2;
    height: auto;
}

.equalsBtn {
    background-color: blue;
    grid-row: span 2;
    height: auto;
}

.zeroBtn {
    grid-column: span 2;
    width: auto;
}